DOCKER_IMAGE=gvddfdf/ovh-bot:latest

OVH_ENDPOINT=ovh-eu
OVH_APPLICATION_KEY=你的Application_Key
OVH_APPLICATION_SECRET=你的Application_Secret
OVH_CONSUMER_KEY=你的Consumer_Key
OVH_ZONE=IE

TG_BOT_TOKEN=你的Bot_Token
TG_ALLOWED_USERS=你的TG用户ID
TG_ALLOW_ALL_USERS=false
TG_CHAT_ID=你的TG_Chat_ID
